# Ignore everything by default
/*


# Exceptions: Track these files.

!/.gitignore
!/README.md

# Shell dotfiles
!/.bashrc
!/.inputrc

# Documentation
!/doc

# Backup script
!/backup

# Bare bones project templates.
!/new-project
!/project-templates

# Clojurescript command. Clj/clojure wrapper.
!/cljs
!/cljs-node

# Hosts file generation script
!/make-hosts